.form-new-product {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    align-items: center;
    width: min-content;
    margin: 1rem 0;
}

@media (max-width: 25rem) {
    .form-new-product {
        grid-template-columns: 1fr;
    }
}
