/* IdCard */

.idcard-frame {
    background-color: white;
    color: black;
    display: flex;
    border: 0.25rem solid gray;
    padding: 0.25rem;
    margin: 1rem;
    gap: 0.5rem;
}

.idcard-image {
    width: 8rem;
    display: flex;
    align-items: center;
}

.idcard-info {
    width: 24rem;
    text-align: left;
}