.wrapper {
  margin: 1rem auto;
  max-width: 25rem;
  min-width: 5.75rem;
  padding: 0.5rem;
  padding-right: 0;
  background-color: white;
  display: flex;
}

.pan-for-resize {
  margin: -0.1rem 0.1rem;
  cursor: col-resize;
  user-select: none;
  padding: 0.05rem;
  border-left: 0.1rem solid gray;
  border-right: 0.1rem solid gray;
}

.div-table {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

.div-number {
    width: 4.8rem;
    height: 4.8rem;
    border: 0.1rem solid black;
    color: black;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-number:nth-child(even) {
    background-color: red;
}
