/* Profile */

.profile-frame {
    background-color: white;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.25rem solid gray;
}

.profile-image {
    width: 8rem;
    display: flex;
    align-items: center;
}

.profile-image img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.profile-info {
    width: 9rem;
    text-align: left;
}