.product-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.25rem solid white;
  border-radius: 0.25rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}

.product {
  max-width: 100%;
  min-width: 10rem;
  margin-bottom: 12px;
  margin: 0.5rem;
  padding: 0.5em;
  border-radius: 12px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product button {
  color: whitesmoke;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.product.in-stock{
  background-color: rgba(0, 128, 0, 0.153);
}

.product.out-of-stock{
  background-color: rgba(128, 0, 0, 0.153);
}

.product.delete {
  background-color: rgba(255, 0, 0, 0.392);
}
