/* IdCard */

.idcard-frame {
    flex: 1;
    background-color: white;
    color: black;
    display: flex;
    flex-flow: row wrap;
    border: 0.25rem solid gray;
    padding: 0.5rem;
    margin: 1rem;
    gap: 0.5rem;
}

.idcard-image {
    width: 8rem;
    display: flex;
    align-items: center;
}

.idcard-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
}